$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

img {
  width:550px;
}

body {
  background-color: rgb(228, 201, 19);
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  width: 550px;
  margin: auto;
}

.panel {
  background-color: rgb(242, 255, 181);
  border: 3px solid;
}

.square {
border: 4px solid #000;
border-style: dashed;
height: 150px;
width: 150px;
text-align: center;
font-weight: 800;
font-size: 50px;
}

#message {
  color: rgb(32, 47, 41);
  font-size: 30px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
 font-family: 'EB Garamond', serif;
 border-bottom: 1px solid black;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  color: rgb(14, 58, 134);
  font-weight: 800;
}

button {
  border: 2px solid black;
}

#board{
  display: none
}

#change-password{
  display:none
}

#sign-out{
display:none
}

#games-history {
display:none
}

#new-game-button{
display:none
}
